body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin:20px 0;
}
a {
    color:#1076eb;
    text-decoration:none;
}
th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
th {
    text-align: center;
}
tr:nth-of-type(even) {
    background-color: #eee;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
}
.wrapper {
    
    margin:0 auto;
    width:100%;
    max-width:1200px;
    padding-bottom:40px;
}
.wrapper img {
    display:block;
    margin:auto;
    padding-bottom:10px;
}
.inner {
    padding:10px;
    max-width: 800px;
    margin:auto;
}
.header {

    background-color:#101010;
    color:#FFFFFF;
    text-align:center;
    position:relative;
    width:100%;
}
.headerInner {
    padding:40px;
}
.header::after {
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:10px;
    background-size:cover;
    background-position:center center;
    background-image:url(../img/download.svg);
}
.footer{
    background-color:#101010;
    color:#FFFFFF;
    text-align:center;
}
