[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camdkit = {editable = true, path = "."}

[dev-packages]
camdkit = {editable = true, path = ".", extras = ["dev"]}

[requires]
python_version = "3.11"
