name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Unit tests and generate documentation
        env:
          PYTHONPATH: src/main/python
        run: |
          python -m unittest discover -v -s src/test/python
          mkdir -p build
          python src/main/python/camdkit/make_documentation.py > build/index.md
          cp src/main/resources/css/generic-light-min.css build/

      - name: Generate HTML
        uses: ZacJW/markdown-html-action@1.1.0
        with:
          input_files: '["build/index.md"]'
          output_files: '["build/index.html"]'
          builtin_stylesheet: "generic-light-min.css"

      - name: Deploy to GitHub pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build